@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* CUSTOM PROPERTIES */
:root {
	--clr-primary-100: #4d13d1;
	--clr-primary-200: #fcf4e7;
	--clr-primary-300: #616060;
	--clr-neutral-100: #ffffff;
	--clr-neutral-200: #dadada;
	--clr-neutral-300: #000000;
	--base: 0.5em;
}

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--clr-neutral-300);
}

h1,
h2,
h3,
h4 {
	margin: 0;
	font-weight: 700;
	line-height: 1.15;
}

p,
ul {
	margin: 0;
}

ul[role="list"] {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

/* UTILITIES */
.flow-content > * + * {
	margin-top: calc(var(--base) * 2);
}

.section-content > * + * {
	margin-top: calc(var(--base) * 8);
}

.container {
	max-width: 75em;
	width: 90%;
	margin: 0 auto;
}

/* DESKTOP vs MOBILE (elements that are not displayed for a viewport) */
.hero-rating {
	display: none;
}

/* BASE STYLE */
header,
footer {
	background: var(--clr-primary-200);
	padding: 2em 0;
}

main {
	background: var(--clr-neutral-100);
	padding: 4em 0;
}
section {
	background: pink; /* Temp */
}

/* TYPOGRAPHY */
h1 {
	font-size: 2.5rem;
}

.logo {
	font-weight: 700;
}
